body{
    padding-top: 20px;
}
.containerRow{
    padding: 0 15px;
}
.phones {
    list-style: none;
}
.phones li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}

.phone-images {
    background-color: #FFF;
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
    float: left;
}

h1 {
    border-bottom: 1px solid #808080;
}

p {
    margin: 0 0 10px;
}

.phone-images {
    background-color: #FFF;
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
    float: left;
}

img.phone {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: #FFF;
    padding: 2em;
    height: 400px;
    width: 400px;
}

ul.phone-thumbs {
    margin: 0;
    list-style: none;
}

ul.phone-thumbs li {
    border: 1px solid #000;
    display: inline-block;
    margin: 1em;
    background-color: #FFF;
}

ul.phone-thumbs img {
    height: 100px;
    width: 100px;
    padding: 1em;
}


ul.specs {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.specs > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

ul.specs > li > span {
    font-weight: bold;
    font-size: 1.2em;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

ul.specs dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

dt, dd {
    line-height: 1.42857143;
}